<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>Admin Page</h1>
    <button onclick="window.location.href='/check'">Appointment</button>
    <button onclick="window.location.href='/profile'">Profile</button>
    <button onclick="window.location.href='/beds'">Beds</button>

</body>
</html>