<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<center>
		<form action="/check">
		    <label for="username">Username:</label>
		    <input type="text" name="username"/>&nbsp;&nbsp;&nbsp;
		    <label for="password">Password:</label>
		    <input type="password" name="password"><br/><br/>
		    <label for="firstname">FirstName:</label>
		    <input type="text" name="firstname"/>&nbsp;&nbsp;&nbsp;
		    <label for="lastname">LastName:</label>
		    <input type="text" name="lastname"><br/><br/>
		    <label for="email">Email:</label>
		    <input type="email" name="email"/>&nbsp;&nbsp;&nbsp;
		    <label for="phone">Phone:</label>
		    <input type="text" name="phone"><br/><br/>
		    <label for="role">Role:</label>
		    <select>
		    	<option value="">Select..</option>
		    	<option value="Admin">Admin</option>
		    	<option value="Patient">Patient</option>
		    </select><br/><br/>
		    <input type="submit">
		</form>
    </center>
</body>
</html>
